---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- ============================================ -->
  <!--                   Hero                       -->
  <!-- ============================================ -->

  <section id="hero-408">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">
          <span class="cs-color">Security Systems</span> for Homes and Businesses
        </h2>
        <p class="cs-text">
          CCTV, access control, and smart security systems installed by
          professionals you can trust.
        </p>
        <a href="" class="cs-button-solid">Get A Quote</a>
        <a href="" class="cs-button-transparent">Our Services</a>
        <span class="cs-header">Trusted by:</span>
        <div class="cs-logo-group">
          <!--Logo 1-->
          <img
            class="cs-logo"
            src="/trusted/hikvision.svg"
            alt="logo"
            decoding="async"
          />
          <!--Logo 2-->
          <img
            class="cs-logo"
            src="/trusted/dahua.svg"
            alt="logo"
            decoding="async"
          />
          <!--Logo 3-->
          <img
            class="cs-logo"
            src="/trusted/aiphone.svg"
            alt="logo"
            decoding="async"
          />
          <!--Logo 4-->
          <img
            class="cs-logo"
            src="/trusted/zkteco.svg"
            alt="logo"
            decoding="async"
          />
        </div>
      </div>
      <div class="cs-stat-group">
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/hero-cam.jpg"
            alt="security camera"
            aria-hidden="true"
          />
        </picture>
        <div class="cs-stat-box">
          <span class="cs-stat">
            500+
            <span class="cs-desc">Installations</span>
          </span>
        </div>
        <div class="cs-stat-box">
          <span class="cs-stat">
            5/5
            <span class="cs-desc">Google Rating</span>
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--               !   Services                    -->
  <!-- ============================================ -->

  <section id="services-281">
    <div class="cs-container">
      <div class="cs-content">
        <h2 class="cs-title">What We Can Do For You</h2>
        <div class="cs-flex">
          <p class="cs-text">
            We provide complete security solutions, from planning and
            installation to long-term support.
          </p>
          <a href="" class="cs-link"
            >Read More About Our Process
            <!-- Arrow SVG -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <g clip-path="url(#clip0_1_114)">
                <path
                  d="M4.16667 10.8333H13.475L9.40833 14.9C9.08333 15.225 9.08333 15.7583 9.40833 16.0833C9.73333 16.4083 10.2583 16.4083 10.5833 16.0833L16.075 10.5917C16.4 10.2667 16.4 9.74167 16.075 9.41667L10.5917 3.91667C10.2667 3.59167 9.74167 3.59167 9.41667 3.91667C9.09167 4.24167 9.09167 4.76667 9.41667 5.09167L13.475 9.16667H4.16667C3.70833 9.16667 3.33333 9.54167 3.33333 10C3.33333 10.4583 3.70833 10.8333 4.16667 10.8333Z"
                  fill="#1A1A1A"></path>
              </g><defs
                ><clipPath id="clip0_1_114-281-281"
                  ><rect width="20" height="20" fill="white"></rect></clipPath
                ></defs
              >
            </svg>
          </a>
        </div>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/srv/security-cam.svg"
            alt="svg icon"
            width="40"
            height="40"
            loading="lazy"
            decoding="async"
          />
          <h3 class="cs-h3">CCTV Installation</h3>
          <p class="cs-item-text">
            High-definition cameras installed with the right angles, clean
            wiring, and remote access.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/srv/intercom.svg"
            alt="svg icon"
            loading="lazy"
            decoding="async"
          />
          <h3 class="cs-h3">Video Intercom Systems</h3>
          <p class="cs-item-text">
            Secure your entrances with modern video intercoms for homes,
            offices, and apartments.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/srv/finger-print.svg"
            alt="svg icon"
            width="33"
            height="30"
            loading="lazy"
            decoding="async"
          />
          <h3 class="cs-h3">Access Control Systems</h3>
          <p class="cs-item-text">
            Control who enters your property using keypads, cards, or biometric
            systems.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/srv/alarm.svg"
            alt="svg icon"
            width="37"
            height="30"
            loading="lazy"
            decoding="async"
          />
          <h3 class="cs-h3">Alarm & Monitoring Systems</h3>
          <p class="cs-item-text">
            Detect intrusions early with reliable alarm systems and smart
            notifications.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                  About                        -->
  <!-- ============================================ -->

  <section id="services-564">
    <div class="cs-container">
      <picture class="cs-picture">
        <!--Mobile Image-->
        <img
          loading="lazy"
          decoding="async"
          src="working-man.jpg"
          alt="computer"
          width="630"
          height="528"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-content">
        <span class="cs-topper">About Our Company</span>
        <h2 class="cs-title">
          A Security Company You Can <span class="cs-color">Rely On</span>
        </h2>
        <p class="cs-text">
          We help homeowners and businesses protect what matters most with
          reliable security systems. From CCTV and intercoms to access control
          and alarms, we focus on clean installations, proven equipment, and
          long-term support.
        </p>
        <p class="cs-text">
          We don’t overcomplicate security, we install systems that work, are
          easy to use, and last.
        </p>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/arrow-black.svg"
              alt="arrow"
              width="16"
              height="18"
            />
            Professional installation
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/arrow-black.svg"
              alt="arrow"
              width="16"
              height="18"
            />
            Modern, reliable equipment
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/arrow-black.svg"
              alt="arrow"
              width="16"
              height="18"
            />
            Clean wiring & setup
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/arrow-black.svg"
              alt="arrow"
              width="16"
              height="18"
            />
            Mobile access & control
          </li>
          <li class="cs-li">
            <img
              class="cs-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/arrow-black.svg"
              alt="arrow"
              width="16"
              height="18"
            />
            Ongoing support & maintenance
          </li>
        </ul>
        <a href="" class="cs-button-solid">Get A Quote</a>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews-510">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-title-group">
          <span class="cs-topper">Reviews</span>
          <h2 class="cs-title">What Our Clients Say</h2>
        </div>
        <p class="cs-text">
          We take pride in delivering reliable security systems and professional
          service. Here’s what some of our clients say about working with us.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <!--Blue Quote-->
          <img
            class="cs-quote"
            aria-hidden="true"
            src="/quote.svg"
            decoding="async"
            alt="quote icon"
            width="40"
            height="46"
          />
          <p class="cs-item-text">
            Professional team and great support after installation. Cameras and
            access system are working flawlessly.
          </p>
          <div class="cs-flex-group">
            <picture class="cs-picture">
              <img
                class="cs-profile"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
                decoding="async"
                alt="profile"
                width="50"
                height="50"
                aria-hidden="true"
              />
            </picture>
            <span class="cs-name">
              Sarah M
              <span class="cs-job">Office Manager</span>
            </span>
          </div>
        </li>
        <li class="cs-item">
          <!--Blue Quote-->
          <img
            class="cs-quote"
            aria-hidden="true"
            src="/quote.svg"
            decoding="async"
            alt="quote icon"
            width="40"
            height="46"
          />
          <p class="cs-item-text">
            The installation was fast and very clean. Everything was explained
            clearly, and the system works perfectly on my phone.
          </p>
          <div class="cs-flex-group">
            <picture class="cs-picture">
              <img
                class="cs-profile"
                src="https://csimages2.nyc3.digitaloceanspaces.com/Reviews/profile3.jpg"
                decoding="async"
                alt="profile"
                width="50"
                height="50"
                aria-hidden="true"
              />
            </picture>
            <span class="cs-name">
              Ahmed K.
              <span class="cs-job">Retail Store Owner</span>
            </span>
          </div>
        </li>
      </ul>
      <a href="" class="cs-button-solid">Read More Reviews</a>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                     FAQ                      -->
  <!-- ============================================ -->

  <section id="faq-1143">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Asked questions</span>
        <h2 class="cs-title">Frequently Asked Questions</h2>
        <ul class="cs-faq-group">
          <!-- Active class added as default -->
          <li class="cs-faq-item active">
            <button class="cs-button">
              <span class="cs-button-text">
                How long does installation take?
              </span>
            </button>
            <p class="cs-item-p">
              Most home and office installations are completed within 1 day.
              Large or complex systems may take 2–3 days.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can I monitor my cameras remotely?
              </span>
            </button>
            <p class="cs-item-p">
              Yes. All our CCTV systems support mobile and desktop access so you
              can watch your property anytime.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do you offer a warranty on the equipment and installation?
              </span>
            </button>
            <p class="cs-item-p">
              Absolutely. All installations come with a 1-year warranty on both
              equipment and labor.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do you provide maintenance and support after installation?
              </span>
            </button>
            <p class="cs-item-p">
              Yes. We offer ongoing support, system checks, and upgrades to
              ensure your security system keeps running smoothly.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can I upgrade or expand my system later?
              </span>
            </button>
            <p class="cs-item-p">
              Definitely. Our systems are designed to be modular, so you can add
              more cameras, intercoms, or access controls as needed.
            </p>
          </li>
        </ul>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/person.svg"
              alt="icon"
            />
            <img
              class="cs-graphic"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg"
              alt="graphic"
              width="100"
              height="103"
            />
          </div>
          <h3 class="cs-number">10+</h3>
          <span class="cs-desc">Years Experience</span>
        </li>
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/headphones.svg"
              alt="icon"
              width="48"
              height="48"
            />
            <img
              class="cs-graphic"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg"
              alt="graphic"
              width="100"
              height="103"
            />
          </div>
          <h3 class="cs-number">24/7</h3>
          <span class="cs-desc">Support</span>
        </li>
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/ppl.svg"
              alt="icon"
              width="48"
              height="48"
            />
            <img
              class="cs-graphic"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg"
              alt="graphic"
              width="100"
              height="103"
            />
          </div>
          <h3 class="cs-number">100+</h3>
          <span class="cs-desc">satisfied clients</span>
        </li>
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/home.svg"
              alt="icon"
              width="48"
              height="48"
            />
            <img
              class="cs-graphic"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/charity-shape.svg"
              alt="graphic"
              width="100"
              height="103"
            />
          </div>
          <h3 class="cs-number">150+</h3>
          <span class="cs-desc">Secured Homes</span>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                   Contact                    -->
  <!-- ============================================ -->

  <section id="contact-1441">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Contact Us</span>
        <h2 class="cs-title">Let's Secure Your Space</h2>
      </div>
      <div class="cs-contact-group">
        <p class="cs-text">
          Have questions or ready to get your security system installed? Our
          team is here to provide guidance, quotes, and support, fast and
          professional.
        </p>
        <ul class="cs-ul">
          <li class="cs-li">
            <picture class="cs-icon-wrapper">
              <img
                aria-hidden="true"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-yellow.svg"
                alt="phone icon"
                class="cs-icon"
                width="40"
                height="40"
                decoding="async"
              />
            </picture>
            <div class="cs-flex-group">
              <span class="cs-header">Phone</span>
              <a href="tel:555-123-4567" class="cs-link">+1 (555) 123-4567</a>
            </div>
          </li>
          <li class="cs-li">
            <picture class="cs-icon-wrapper">
              <img
                aria-hidden="true"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-yellow.svg"
                alt="address icon"
                class="cs-icon"
                width="40"
                height="40"
                decoding="async"
              />
            </picture>
            <div class="cs-flex-group">
              <span class="cs-header">Address</span>
              <a href="mailto:Email@stitch.com" class="cs-link"
                >742 Evergreen Terrace, Springfield, USA</a
              >
            </div>
          </li>
        </ul>
        <picture class="cs-background">
          <img
            loading="lazy"
            decoding="async"
            src="/contact.jpg"
            alt="wind turbine"
            width="650"
            height="613"
          />
        </picture>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-1441" name="Contact Form" method="post">
        <label class="cs-label">
          Name
          <input
            class="cs-input"
            required
            type="text"
            id="name-1441"
            name="name"
            placeholder="Name"
          />
        </label>
        <label class="cs-label cs-email">
          Email
          <input
            class="cs-input"
            required
            type="email"
            id="email-1441"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="cs-label cs-phone">
          Phone
          <input
            class="cs-input"
            required
            type="number"
            id="phone-1441"
            name="phone"
            placeholder="Phone"
          />
        </label>
        <label class="cs-label">
          Message
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-1441"
            placeholder="Write message..."></textarea>
        </label>
        <button class="cs-button-solid cs-submit" type="submit"
          >Send Message</button
        >
      </form>
    </div>
  </section>
</Layout>

<style>
  /*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #hero-408 {
      padding: var(--sectionPadding);
      /* 112px - 200px */
      padding-top: clamp(12rem, 15vw, 12.5rem);
      padding-right: 0;
    }
    #hero-408 .cs-container {
      width: 100%;
      /* changes to 100% at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 36px - 100px */
      gap: clamp(2.25rem, 10vw, 6.25rem);
    }
    #hero-408 .cs-content {
      max-width: 39.375rem;
      padding-right: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
    #hero-408 .cs-title {
      /* 31px - 61px */
      font-size: clamp(1.9375rem, 4.4vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 43.75rem;
      /* 12px - 24px */
      margin: 0 0 clamp(0.75rem, 1.5vw, 1.5rem);
      color: var(--headerColor);
      position: relative;
    }
    #hero-408 .cs-color {
      color: var(--secondary);
      display: block;
    }
    #hero-408 .cs-text {
      /* 16px - 25px */
      font-size: clamp(1rem, 2vw, 1.5625rem);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      /* 24px - 40px */
      margin-bottom: clamp(1.5rem, 4.2vw, 3rem);
      color: var(--bodyTextColor);
    }
    #hero-408 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      margin-right: 1.5rem;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #hero-408 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #hero-408 .cs-button-solid:hover:before {
      width: 100%;
    }
    #hero-408 .cs-button-transparent {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: var(--primary);
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: transparent;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition:
        background-color 0.3s,
        color 0.3s;
    }
    #hero-408 .cs-button-transparent:hover {
      background-color: var(--primary);
      color: #fff;
    }
    #hero-408 .cs-header {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      /* 40px - 100px */
      margin: clamp(2.5rem, 5vw, 6.25rem) 0 0.75rem 0;
      width: 100%;
      color: var(--bodyTextColor);
      display: block;
    }
    #hero-408 .cs-logo-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #hero-408 .cs-logo {
      width: auto;
      /* 18px - 32px */
      height: clamp(0.75rem, 1.25vw, 1.5rem);
      filter: grayscale(1);
    }
    #hero-408 .cs-stat-group {
      width: 100%;
      border-radius: 1.25rem 0 0 1.25rem;
      aspect-ratio: 0.92696629;
      /* clips the corners around the border radius */
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-wrap: nowrap;
      position: relative;
      z-index: 1;
    }
    #hero-408 .cs-stat-box {
      width: 50%;
      /* changes at tablet */
      height: 9.125rem;
      /* 24px - 48px */
      padding: clamp(1.5rem, 3vw, 3rem);
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #hero-408 .cs-stat-box:nth-of-type(1) {
      background-color: rgba(249, 115, 22, 0.96);
    }
    #hero-408 .cs-stat-box:nth-of-type(2) {
      background-color: rgba(234, 88, 12, 0.96);
    }
    #hero-408 .cs-stat {
      /* 25px - 61px */
      font-size: clamp(1.5625rem, 3.5vw, 3.8125rem);
      line-height: 1.2em;
      text-align: left;
      margin: 0;
      display: block;
    }
    #hero-408 .cs-desc {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.6vw, 1.25rem);
      line-height: 1.2em;
      margin: 0.25rem 0 0 0;
      display: block;
    }
    #hero-408 .cs-background {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
    #hero-408 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #hero-408 {
      padding-right: 0;
    }
    #hero-408 .cs-container {
      max-width: 100%;
      flex-direction: row;
      justify-content: flex-end;
    }
    #hero-408 .cs-content {
      width: 45%;
      padding: 0;
    }
    #hero-408 .cs-stat-group {
      width: 45%;
      max-height: 46.0625rem;
      aspect-ratio: 0.92647059;
      flex: none;
    }
    #hero-408 .cs-stat-box {
      /* 126px - 221px */
      height: clamp(7.875rem, 18vw, 13.8125rem);
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #hero-408 .cs-title,
    body.dark-mode #hero-408 .cs-text,
    body.dark-mode #hero-408 .cs-header,
    body.dark-mode #hero-408 .cs-button-transparent {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #hero-408 .cs-logo {
      filter: grayscale(1) brightness(400%);
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-281 {
      padding: var(--sectionPadding);
      background-color: var(--sectionBackgroundColor);
    }
    #services-281 .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-281 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #services-281 .cs-title {
      max-width: 12ch;
    }
    #services-281 .cs-text {
      max-width: 32.625rem;
      /* 28px - 40px */
      margin: 0 0 clamp(1.75rem, 3vw, 2.5rem);
    }
    #services-281 .cs-link {
      /* makes sure the text is always 1 line */
      white-space: nowrap;
      font-size: 1rem;
      color: var(--bodyTextColor);
      font-weight: 700;
      text-decoration: none;
      width: 15.125rem;
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      transition: color 0.3s;
    }
    #services-281 .cs-link:hover {
      color: var(--primary);
    }
    #services-281 .cs-link:hover svg {
      transform: translateX(0.625rem);
    }
    #services-281 .cs-link:before {
      /* underline */
      content: "";
      width: 100%;
      height: 2px;
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
    }
    #services-281 .cs-link svg {
      margin-left: 0.25rem;
      transition: transform 0.3s;
    }
    #services-281 .cs-link svg path {
      /* current color of the parent */
      fill: currentColor;
    }
    #services-281 .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1.75rem;
    }
    #services-281 .cs-item {
      list-style: none;
      width: 100%;
      margin-left: 0;
    }
    #services-281 .cs-icon {
      width: auto;
      height: 1.875rem;
      /* 20px - 24px */
      margin-bottom: clamp(1.25rem, 2.4vw, 1.5rem);
    }
    #services-281 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.5em;
      margin: 0;
      /* 16px - 20px */
      margin-bottom: clamp(1rem, 2vw, 1.25rem);
      color: var(--headerColor);
    }
    #services-281 .cs-item-text {
      font-size: 1rem;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
  /* In Between - 500px */
  @media only screen and (min-width: 31.25rem) {
    #services-281 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    #services-281 .cs-item {
      width: 46%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-281 .cs-container {
      max-width: 80rem;
    }
    #services-281 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    #services-281 .cs-title {
      width: 40%;
    }
    #services-281 .cs-flex {
      width: 50%;
    }
    #services-281 .cs-item {
      width: 22%;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #services-281 .cs-title,
    body.dark-mode #services-281 .cs-text,
    body.dark-mode #services-281 .cs-link,
    body.dark-mode #services-281 .cs-item-text,
    body.dark-mode #services-281 .cs-h3 {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #services-281 .cs-text {
      opacity: 0.8;
    }
    body.dark-mode #services-281 .cs-icon {
      /* turns it white */
      filter: grayscale(1) brightness(1000%);
    }
  }

  /*-- -------------------------- -->
<---          About          -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #services-564 {
      padding: var(--sectionPadding);
    }
    #services-564 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-564 .cs-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    #services-564 .cs-topper {
      color: var(--headerColor);
    }
    #services-564 .cs-text {
      margin-bottom: 1rem;
    }
    #services-564 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #services-564 .cs-color {
      color: var(--secondary);
    }
    #services-564 .cs-h3 {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      /* 16px - 20px */
      margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
      color: var(--headerColor);
    }
    #services-564 .cs-ul {
      width: 100%;
      margin: 0 0 2rem 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
    }
    #services-564 .cs-li {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: 1.25rem;
    }
    #services-564 .cs-icon {
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
    }
    #services-564 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--secondary);
      border-radius: 0.25rem;
      display: inline-block;
      overflow: hidden;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      transition: color 0.3s;
    }
    #services-564 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #services-564 .cs-button-solid:hover {
      color: #fff;
    }
    #services-564 .cs-button-solid:hover:before {
      width: 100%;
    }
    #services-564 .cs-picture {
      /* changes at tablet */
      width: 100%;
      max-width: 39.375rem;
      /* changes to a clamp at tablet */
      height: 24.75rem;
      display: block;
      position: relative;
    }
    #services-564 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right center;
      border-radius: 0.8rem;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-564 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #services-564 .cs-picture {
      width: 46vw;
      /* 415px - 528px */
      height: clamp(25.9375rem, 50vw, 33rem);
    }
    #services-564 .cs-content {
      width: 45%;
      max-width: 32.5rem;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #services-564 .cs-topper {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #services-564 .cs-color {
      color: var(--primaryLight);
    }
    body.dark-mode #services-564 .cs-title,
    body.dark-mode #services-564 .cs-text,
    body.dark-mode #services-564 .cs-h3,
    body.dark-mode #services-564 .cs-li {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #services-564 .cs-text {
      opacity: 0.8;
    }
    body.dark-mode #services-564 .cs-icon {
      filter: brightness(150%);
    }
  }

  /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #reviews-510 {
      /* centers the button */
      text-align: center;
      padding: var(--sectionPadding);
      /* clips the orbs from causing overflow issues */
      overflow: hidden;
      position: relative;
      z-index: 1;
      background-color: var(--sectionBackgroundColor);
    }
    #reviews-510 .cs-container {
      width: 100%;
      /* changes to 1440px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-510 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: 77.25rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    #reviews-510 .cs-text {
      opacity: 0.8;
    }
    #reviews-510 .cs-card-group {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /* 16px - 20px */
      gap: clamp(1rem, 2.5vw, 1.15rem);
    }
    #reviews-510 .cs-item {
      list-style: none;
      text-align: left;
      max-width: 44.375rem;
      /* 16px - 40px top & bottom */
      /* 16px - 60px left & right */
      padding: clamp(1rem, 3.15vw, 2.5rem) clamp(1rem, 5vw, 3.75rem);
      /* 24px - 48px */
      padding-bottom: clamp(1.5rem, 6vw, 3rem);
      background-color: #fff;
      /* 12px - 24px */
      border-radius: clamp(0.75rem, 1.5vw, 1.25rem);
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
      /* clips the pseudo box from overflowing */
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
    }
    #reviews-510 .cs-item:before {
      content: "";
      width: 100%;
      height: 0.75rem;
      background: var(--primary);
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
    }
    #reviews-510 .cs-quote {
      width: 2.5rem;
      height: auto;
      /* 16px - 32px */
      margin-bottom: clamp(1rem, 2vw, 2rem);
      display: block;
    }
    #reviews-510 .cs-item-text {
      /* 14px - 25px */
      font-size: clamp(0.875rem, 1.6vw, 1.5625rem);
      line-height: 1.5em;
      margin: 0;
      /* 24px - 44px */
      margin-bottom: clamp(1.5rem, 3vw, 2.75rem);
      color: var(--bodyTextColor);
    }
    #reviews-510 .cs-flex-group {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      /* 12px - 24px */
      gap: clamp(0.75rem, 3vw, 1.5rem);
    }
    #reviews-510 .cs-profile {
      /* 36px - 72px */
      width: clamp(2.25rem, 7vw, 4.5rem);
      height: clamp(2.25rem, 7vw, 4.5rem);
      margin: 0;
      border-radius: 50%;
      /* clips image corners to make circle */
      overflow: hidden;
      position: relative;
      display: block;
    }
    #reviews-510 .cs-profile img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes the image behave like a background image */
      object-fit: cover;
    }
    #reviews-510 .cs-name {
      /* 16px - 31px */
      font-size: clamp(1rem, 2.5vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      margin: 0;
      /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
      margin-top: auto;
      color: var(--headerColor);
      display: block;
    }
    #reviews-510 .cs-job {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0;
      color: #746f95;
      display: block;
    }
    #reviews-510 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #reviews-510 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
    #reviews-510 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #reviews-510 .cs-container {
      max-width: 90rem;
    }
    #reviews-510 .cs-content {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    #reviews-510 .cs-title {
      margin: 0;
    }
    #reviews-510 .cs-text {
      width: 50%;
      margin: 0;
    }
    #reviews-510 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #reviews-510 .cs-topper {
      color: var(--primaryLight);
    }
    body.dark-mode #reviews-510 .cs-title,
    body.dark-mode #reviews-510 .cs-text {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #reviews-510 .cs-item {
      background-color: var(--medium);
    }
    body.dark-mode #reviews-510 .cs-quote-white {
      opacity: 0.2;
    }
    body.dark-mode #reviews-510 .cs-item-text,
    body.dark-mode #reviews-510 .cs-name {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #reviews-510 .cs-job {
      color: var(--bodyTextColorWhite);
      opacity: 0.7;
    }
  }

  /*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #faq-1143 {
      padding: var(--sectionPadding);
    }
    #faq-1143 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 44rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 40px - 48px */
      gap: clamp(2.5rem, 5vw, 3rem);
    }
    #faq-1143 .cs-content {
      text-align: left;
    }

    #faq-1143 .cs-title {
      margin: 0 0 1.5rem 0;
    }
    #faq-1143 .cs-faq-group {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #faq-1143 .cs-faq-item {
      list-style: none;
      width: 100%;
      border-bottom: 1px solid #e8e8e8;
      transition: border-bottom 0.3s;
    }
    #faq-1143 .cs-faq-item.active {
      border-color: var(--primary);
    }
    #faq-1143 .cs-faq-item.active .cs-button {
      color: var(--primary);
    }
    #faq-1143 .cs-faq-item.active .cs-button:before {
      background-color: var(--primary);
      transform: rotate(315deg);
    }
    #faq-1143 .cs-faq-item.active .cs-button:after {
      background-color: var(--primary);
      transform: rotate(-315deg);
    }
    #faq-1143 .cs-faq-item.active .cs-item-p {
      height: auto;
      /* 20px - 24px bottom */
      /* 16px - 24px left & right */
      padding: 0 clamp(1rem, 2vw, 1.5rem) clamp(1.25rem, 1.3vw, 1.5rem);
      opacity: 1;
    }
    #faq-1143 .cs-button {
      font-size: 1rem;
      line-height: 1.2em;
      text-align: left;
      font-weight: bold;
      /* 16px - 20px */
      padding: clamp(1rem, 1.3vw, 1.25rem);
      border: none;
      background: transparent;
      color: var(--headerColor);
      display: block;
      width: 100%;
      position: relative;
      transition:
        background-color 0.3s,
        color 0.3s;
    }
    #faq-1143 .cs-button:hover {
      cursor: pointer;
    }
    #faq-1143 .cs-button:before {
      /* left line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 1.5rem;
      transform: rotate(45deg);
      /* animate the transform from the left side of the x axis, and the center of the y */
      transform-origin: left center;
      transition: transform 0.5s;
    }
    #faq-1143 .cs-button:after {
      /* right line */
      content: "";
      width: 0.5rem;
      height: 0.125rem;
      background-color: var(--headerColor);
      opacity: 1;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 45%;
      right: 1.3125rem;
      transform: rotate(-45deg);
      /* animate the transform from the right side of the x axis, and the center of the y */
      transform-origin: right center;
      transition: transform 0.5s;
    }
    #faq-1143 .cs-button-text {
      width: 80%;
      display: block;
    }
    #faq-1143 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      width: 90%;
      height: 0;
      margin: 0;
      /* 16px - 24px */
      padding: 0 clamp(1rem, 2vw, 1.5rem);
      opacity: 0;
      color: var(--bodyTextColor);
      /* clips the text so it doesn't show up */
      overflow: hidden;
      transition:
        opacity 0.3s,
        padding-bottom 0.3s;
    }
    #faq-1143 .cs-card-group {
      margin: 0;
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 8px - 20px */
      gap: clamp(0.5rem, 2vw, 1.25rem);
    }
    #faq-1143 .cs-item {
      width: 100%;
      text-align: center;
      list-style: none;
      margin: 0;
      /* 24px - 32px */
      padding: 2rem clamp(1.5rem, 3vw, 2rem);
      background-color: #f9f9fb;
      border-radius: 1rem;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      grid-column: span 6;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      transition:
        box-shadow 0.3s,
        border-color 0.3s;
    }
    #faq-1143 .cs-item:hover {
      box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.1);
      border-color: transparent;
    }
    #faq-1143 .cs-item:hover .cs-h3 {
      color: var(--primary);
    }
    #faq-1143 .cs-image-group {
      /* 80px - 100px */
      width: clamp(5rem, 6vw, 6.25rem);
      height: auto;
      /* 20px - 24px */
      margin: 0 0 clamp(1.25rem, 2.5vw, 1.5rem);
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      position: relative;
    }
    #faq-1143 .cs-icon {
      /* 38px - 48px */
      width: clamp(2.5rem, 3vw, 3rem);
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #faq-1143 .cs-graphic {
      width: 100%;
      height: auto;
    }
    #faq-1143 .cs-number {
      /* 25px - 49px */
      font-size: clamp(1.5625rem, 3.3vw, 3.0625rem);
      line-height: 1.2em;
      font-weight: bold;
      text-align: inherit;
      margin: 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }
    #faq-1143 .cs-desc {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      margin: 0;
      color: var(--bodyTextColor);
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #faq-1143 .cs-item {
      grid-column: span 3;
    }
  }
  /* Desktop - 1024px */
  @media only screen and (min-width: 64rem) {
    #faq-1143 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 3.25rem;
    }
    #faq-1143 .cs-content {
      width: 46%;
      max-width: 32.625rem;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #faq-1143 .cs-card-group {
      max-width: 39.375rem;
      /* pushes up the same amount the cs-items are being translated up to maintain the proper spacing */
      margin-top: 3.75rem;
      align-items: stretch;
    }
    #faq-1143 .cs-item {
      grid-column: span 6;
    }
    #faq-1143 .cs-item:nth-of-type(2),
    #faq-1143 .cs-item:nth-of-type(4) {
      transform: translateY(-3.75rem);
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #faq-1143 {
      background-color: var(--medium) rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #faq-1143 .cs-topper {
      color: var(--secondary);
    }
    body.dark-mode #faq-1143 .cs-title,
    body.dark-mode #faq-1143 .cs-item-p,
    body.dark-mode #faq-1143 .cs-number,
    body.dark-mode #faq-1143 .cs-desc {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #faq-1143 .cs-faq-item {
      border-color: rgba(255, 255, 255, 0.2);
    }
    body.dark-mode #faq-1143 .cs-faq-item.active {
      border-color: var(--secondary);
    }
    body.dark-mode #faq-1143 .cs-faq-item.active .cs-button {
      color: var(--secondary);
    }
    body.dark-mode #faq-1143 .cs-faq-item.active .cs-button:before,
    body.dark-mode #faq-1143 .cs-faq-item.active .cs-button:after {
      background-color: var(--secondary);
    }
    body.dark-mode #faq-1143 .cs-graphic {
      opacity: 0.2;
    }
    body.dark-mode #faq-1143 .cs-icon {
      filter: grayscale(1) brightness(1000%);
    }
    body.dark-mode #faq-1143 .cs-desc {
      opacity: 0.8;
    }
    body.dark-mode #faq-1143 .cs-button {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #faq-1143 .cs-button:before,
    body.dark-mode #faq-1143 .cs-button:after {
      background-color: var(--bodyTextColorWhite);
    }
    body.dark-mode #faq-1143 .cs-item {
      background-color: var(--medium);
    }
    body.dark-mode #faq-1143 .cs-floater {
      opacity: 0.5;
    }
  }

  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0rem) {
    #contact-1441 {
      padding: var(--sectionPadding);
      background-color: #f7f7f7;
      position: relative;
      z-index: 1;
    }
    #contact-1441 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 36.5rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-direction: column;
      column-gap: auto;
      /* 48px - 64px */
      row-gap: clamp(2rem, 3vw, 3rem);
      column-gap: 1.25rem;
      position: relative;
    }
    #contact-1441 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
    #contact-1441 .cs-title {
      max-width: 18ch;
      margin: 0;
    }
    #contact-1441 .cs-text {
      color: #e8e8e8;
    }
    #contact-1441 .cs-contact-group {
      width: 100%;
      max-width: 40.625rem;
      min-height: 31.25rem;
      /* 24px - 32px */
      padding: clamp(1.5rem, 2.5vw, 2rem);
      padding-top: 9.375rem;
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      border-radius: 1.5rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 2rem;
      /* sends it to the bottom in the 3rd position */
      order: 3;
      position: relative;
      z-index: 1;
    }
    #contact-1441 .cs-ul {
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 1.5rem;
      position: relative;
    }
    #contact-1441 .cs-li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1.25rem;
    }
    #contact-1441 .cs-li:hover .cs-icon-wrapper {
      transform: scale(1.1);
    }
    #contact-1441 .cs-header {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: 0.75rem;
      color: var(--bodyTextColorWhite);
      display: block;
    }
    #contact-1441 .cs-link {
      font-size: 1rem;
      line-height: 1.5em;
      text-decoration: none;
      color: var(--bodyTextColorWhite);
      opacity: 0.8;
      display: block;
      position: relative;
    }
    #contact-1441 .cs-link:hover {
      text-decoration: underline;
    }
    #contact-1441 .cs-icon-wrapper {
      width: 3.75rem;
      height: 3.75rem;
      margin: 0;
      border-radius: 50%;
      border: 1px solid var(--secondary);
      display: flex;
      justify-content: center;
      align-items: center;
      /* prevents flexbox from squishing it */
      flex: none;
      transition: transform 0.3s;
    }
    #contact-1441 .cs-icon {
      width: 1.5rem;
      height: auto;
      display: block;
    }
    #contact-1441 .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    #contact-1441 .cs-background:before {
      /* background color overlay */
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 0.94) 33.99%,
        rgba(26, 26, 26, 0) 79.31%
      );
      top: 0;
      left: 0;
      z-index: 1;
    }
    #contact-1441 .cs-background img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* Makes img tag act as a background image */
      object-fit: cover;
    }
    #contact-1441 .cs-form {
      width: 100%;
      max-width: 39.375rem;
      /* 24px - 48px top and bottom */
      /* 16px - 48px left and right */
      padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
      /* prevents flexbox from affecting height and width */
      box-sizing: border-box;
      background-color: #fff;
      border-radius: 1.5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.75rem;
    }
    #contact-1441 .cs-label {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      width: 100%;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.25rem;
    }
    #contact-1441 .cs-input {
      font-size: 1rem;
      width: 100%;
      height: 3.5rem;
      padding: 0;
      padding-left: 1.5rem;
      color: var(--headerColor);
      background-color: #f7f7f7;
      border-radius: 0.5rem;
      border: none;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
    }
    #contact-1441 .cs-input::placeholder {
      color: #7d799c;
      opacity: 0.6;
    }
    #contact-1441 .cs-textarea {
      min-height: 7.5rem;
      padding-top: 1.5rem;
      margin-bottom: 0.75rem;
      font-family: inherit;
    }
    #contact-1441 .cs-button-solid {
      font-size: 1rem;
      line-height: 3.5rem;
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: #fff;
      padding: 0 3rem;
      border-radius: 0.24rem;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;
    }
    #contact-1441 .cs-button-solid:before {
      content: "";
      position: absolute;
      display: block;
      height: 100%;
      width: 0%;
      background: #1a1a1a;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
    #contact-1441 .cs-button-solid:hover {
      color: var(--primary);
    }
    #contact-1441 .cs-button-solid:hover:before {
      width: 100%;
    }
    #contact-1441 .cs-submit {
      width: 100%;
      min-width: 12.5rem;
      border: none;
    }
    #contact-1441 .cs-submit:hover {
      color: #fff;
      cursor: pointer;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #contact-1441 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    #contact-1441 .cs-content {
      width: 100%;
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #contact-1441 .cs-contact-group {
      width: 50vw;
      order: 2;
    }
    #contact-1441 .cs-form {
      width: 45%;
      max-width: 33.875rem;
      order: 3;
    }
    #contact-1441 .cs-submit {
      width: auto;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #contact-1441 {
      background-color: rgba(0, 0, 0, 0.2);
    }
    body.dark-mode #contact-1441 .cs-title,
    body.dark-mode #contact-1441 .cs-text,
    body.dark-mode #contact-1441 .cs-link,
    body.dark-mode #contact-1441 .cs-label {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #contact-1441 .cs-contact-text,
    body.dark-mode #contact-1441 .cs-link {
      opacity: 0.8;
    }
    body.dark-mode #contact-1441 .cs-icon-wrapper {
      border-color: #fff;
    }
    body.dark-mode #contact-1441 .cs-icon {
      /* makes it white */
      filter: grayscale(1) brightness(1000%);
    }
    body.dark-mode #contact-1441 .cs-form {
      background-color: var(--medium);
    }
    body.dark-mode #contact-1441 .cs-input {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
    }
    body.dark-mode #contact-1441 .cs-input::placeholder {
      color: #fff;
      opacity: 0.8;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
    for (const item of faqItems) {
      const onClick = () => {
        item.classList.toggle("active");
      };
      item.addEventListener("click", onClick);
    }
  });
</script>
